@import "base/mixin";
@import "base/variable";
@import "template/style";
@import "plugIn/chosen";

.faqPage {
    position: relative;
    padding-bottom: 90px;
    @include mediaquery(null, 767px) {
        padding-bottom: 126px;
    }
}
.kvTitle {
    @include mediaquery(null, 767px) {
        padding-bottom: 5px;
    }
}
.pageImg {
    @include mediaquery(767px, null) {
        position: absolute;
        z-index: 6;
        top: 25px;
        right: 11.4%;
    }
    @include mediaquery(768px, 991px) {
        top: 80px;
        right: -5%;
    }
    @include mediaquery(null, 767px) {
        margin: 0 10.9375% 28px 0;
        text-align: right;
    }
    img {
        @include mediaquery(768px, 991px) {
            width: 80%;
        }
        @include mediaquery(null, 767px) {
            width: 63.3%;
        }
    }
}
.top-menu-ul-2 {
    margin-bottom: 36px;
    @include mediaquery(null, 767px) {
        margin-bottom: 16px;
    }
    .item_Menu:after {
        content: none;
    }
}
.top-menu-ul-3 {
    margin-bottom: 99px;
    @include mediaquery(null, 767px) {
        margin-bottom: 34px;
    }
}

//常見問題
.faqBox {
    margin-bottom: 58px;
    @include mediaquery(null, 767px) {
        margin-bottom: 44px;
    }
    .faqLi {
        > ul > li {
            border-bottom: 1px solid #e4e4e4;
            &.active {
                .faqContent {
                    color: #94693c;
                    &::before {
                        background-color: #94693c;
                    }
                    &::after {
                        background-color: #94693c;
                        transform: rotate(180deg);
                    }
                }
            }
            .faqContent {
                position: relative;
                display: block;
                font-size: 24px;
                padding: 16px 40px 16px 24px;
                transition: color 0.75s;
                @include mediaquery(null, 767px) {
                    font-size: 15px;
                    padding: 14px 40px 14px 19px;
                }
                &:hover {
                    @include mediaquery(768px, null) {
                        color: #94693c;
                        &::before {
                            background-color: #94693c;
                        }
                        &::after {
                            background-color: #94693c;
                        }
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 30px;
                    left: 0;
                    width: 7px;
                    height: 7px;
                    border-radius: 2px;
                    background-color: #000;
                    transition: background-color 0.75s;
                    @include mediaquery(null, 767px) {
                        top: 22px;
                        width: 5px;
                        height: 5px;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 30px;
                    right: 0;
                    width: 22px;
                    height: 9px;
                    background-color: #000;
                    mask: url("../images/page/faq.svg") center / contain no-repeat;
                    transition: 0.75s;
                    @include mediaquery(null, 767px) {
                        top: 23px;
                        right: 12px;
                        width: 16px;
                        height: 6px;
                    }
                }
            }
            .txt {
                display: none;
                padding: 0 40px 16px 24px;
                @include mediaquery(null, 767px) {
                    padding: 0 40px 14px 19px;
                }
            }
        }
    }
    .b_title {
        font-size: 32px;
        font-weight: 500;
        color: #94693c;
        margin-bottom: 9px;
        @include mediaquery(null, 767px) {
            font-size: 18px;
            margin-bottom: 12px;
        }
    }
    .editor_box {
        font-size: 16px;
        @include mediaquery(null, 767px) {
            font-size: 14px;
        }
    }
}

//產品維修
.repairPage {
    position: relative;
    .top-menu-ul-2 {
        margin-bottom: 61px;
        @include mediaquery(null, 767px) {
            margin-bottom: 43px;
        }
    }
    .contentBox {
        border: 1px solid #94693c;
        border-radius: 8px;
        padding: 0 55px 0 44px;
        margin-bottom: 26px;
        @include mediaquery(992px, 1440px) {
            padding: 0 25px;
        }
        @include mediaquery(null, 767px) {
            padding: 0 12px;
            border-radius: 4px;
            margin-bottom: 33px;
        }
        > ul > li {
            padding: 41px 20px 38px 0;
            border-bottom: 2px solid #94693c;
            @include mediaquery(992px, null) {
                display: flex;
            }
            @include mediaquery(768px, 1440px) {
                padding-right: 0;
            }
            @include mediaquery(null, 767px) {
                border-bottom: 1px solid #94693c;
                padding: 34px 0;
            }
            &:nth-child(1) {
                padding-bottom: 42px;
                @include mediaquery(null, 767px) {
                    padding-bottom: 32px;
                }
                .leftBox img {
                    @include mediaquery(992px, 1440px) {
                        width: 90%;
                    }
                    @include mediaquery(null, 991px) {
                        max-width: 486px;
                        width: 86%;
                    }
                }
            }
            &:last-child {
                border-bottom: none;
                @include mediaquery(null, 767px) {
                    padding: 31px 0 28px;
                }
                .leftBox img {
                    @include mediaquery(null, 991px) {
                        max-width: 432px;
                        width: 80%;
                    }
                }
                .listBox {
                    margin-bottom: 6px;
                    @include mediaquery(null, 991px) {
                        margin-bottom: 16px;
                    }
                }
                .s_intro {
                    padding-left: 34px;
                    margin-bottom: 17px;
                    @include mediaquery(null, 991px) {
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
        .leftBox {
            flex: 0 0 405px;
            text-align: center;
            margin-right: 68px;
            @include mediaquery(992px, 1440px) {
                flex: 0 0 36%;
                margin-right: 2%;
            }
            @include mediaquery(null, 991px) {
                width: 100%;
                flex: 0 0 auto;
                margin: 0 0 24px;
            }
        }
        .rightBox {
            flex: 1;
            .title {
                display: flex;
                align-items: baseline;
                font-size: 32px;
                margin-bottom: 23px;
                @include mediaquery(null, 1440px) {
                    flex-direction: column;
                }
                @include mediaquery(null, 991px) {
                    align-items: center;
                }
                @include mediaquery(null, 767px) {
                    font-size: 20px;
                    max-width: 80%;
                    margin: 0 auto 18px;
                }
                span {
                    font-size: 16px;
                    font-weight: 500;
                    color: #797979;
                    margin-left: 21px;
                    @include mediaquery(null, 1440px) {
                        margin-left: 0;
                    }
                    @include mediaquery(null, 767px) {
                        font-size: 15px;
                        margin-top: 10px;
                    }
                }
            }
            .listBox {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                font-size: 22px;
                color: #94693c;
                border-radius: 31px;
                background-color: #f9ede2;
                padding: 11px 34px 13px;
                margin-bottom: 11px;
                @include mediaquery(null, 991px) {
                    flex-direction: column;
                    text-align: center;
                    border-radius: 16px;
                    padding: 18px 24px;
                }
                @include mediaquery(null, 767px) {
                    max-width: 78%;
                    margin: 0 auto;
                    font-size: 15px;
                }
                .arrow {
                    margin: 0 10px 0 4px;
                    @include mediaquery(null, 991px) {
                        transform: rotate(90deg);
                        margin: 3px 0;
                    }
                }
                span {
                    font-size: 24px;
                    color: #000;
                    @include mediaquery(null, 991px) {
                        display: block;
                    }
                    @include mediaquery(null, 767px) {
                        font-size: 16px;
                    }
                }
            }
            .s_intro {
                font-size: 14px;
                color: #797979;
                line-height: 1.875;
                text-align: justify;
                @include mediaquery(null, 767px) {
                    font-size: 12px;
                    line-height: 1.5;
                    letter-spacing: -0.03em;
                    max-width: 92%;
                    margin: 0 auto !important;
                }
                &.bottom {
                    @include mediaquery(null, 767px) {
                        max-width: 78%;
                    }
                }
            }
            .box {
                margin-bottom: 6px;
                @include mediaquery(null, 767px) {
                    padding: 0 8px 0 30px;
                }
                > li {
                    display: flex;
                    padding: 17px 0 19px;
                    @include mediaquery(null, 767px) {
                        align-items: center;
                    }
                    &:nth-child(1) {
                        border-bottom: 1px solid #e4e4e4;
                        @include mediaquery(null, 767px) {
                            padding: 5px 0 30px;
                        }
                        .img {
                            margin: 9px 30px 0 0;
                            flex: 0 0 49px;
                            @include mediaquery(null, 767px) {
                                margin: 0 22px 0 0;
                                flex: 0 0 55px;
                            }
                        }
                    }
                    &:nth-child(2) {
                        @include mediaquery(null, 767px) {
                            padding: 25px 0 26px;
                        }
                        .img {
                            margin: 9px 28px 0 0;
                            flex: 0 0 51px;
                            @include mediaquery(null, 767px) {
                                margin: 0 21px 0 0;
                                flex: 0 0 57px;
                            }
                        }
                    }
                    .s_title {
                        font-size: 20px;
                        font-weight: 500;
                        color: #94693c;
                        margin-bottom: 6px;
                        @include mediaquery(null, 767px) {
                            font-size: 16px;
                            margin-bottom: 5px;
                        }
                    }
                    ul > li {
                        position: relative;
                        padding-left: 1em;
                        line-height: 1.5;
                        @include mediaquery(null, 767px) {
                            font-size: 15px;
                            line-height: 1.4;
                        }
                        &::before {
                            content: "·";
                            position: absolute;
                            top: 0;
                            left: 0;
                            font-size: 30px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
    table {
        position: relative;
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid #94693c;
            border-radius: 6px;
            overflow: hidden;
            @include mediaquery(null, 767px) {
                border-radius: 3px;
            }
        }
        tr {
            td {
                border-bottom: 1px solid #94693c;
                border-right: 1px solid #94693c;
                &:last-child {
                    border-right: none;
                }
            }
            &:nth-child(1) {
                background-color: #f9ede2;
                td {
                    text-align: center;
                    padding: 8px 10px 9px;
                    @include mediaquery(null, 991px) {
                        padding: 8px 2px 9px;
                    }
                    &:nth-child(1) {
                        border-top-left-radius: 6px;
                        overflow: hidden;
                        width: 36.68%;
                        font-size: 20px;
                        font-weight: 500;
                        color: #94693c;
                        @include mediaquery(992px, 1440px) {
                            width: 50%;
                        }
                        @include mediaquery(null, 991px) {
                            width: 48%;
                        }
                        @include mediaquery(null, 767px) {
                            font-size: 16px;
                            border-top-left-radius: 3px;
                        }
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        width: 31.66%;
                        @include mediaquery(992px, 1440px) {
                            width: 25%;
                        }
                        @include mediaquery(null, 991px) {
                            width: 30%;
                        }
                        @include mediaquery(null, 767px) {
                            font-size: 15px;
                        }
                    }
                    &:nth-child(2) {
                        @include mediaquery(null, 991px) {
                            text-align: left;
                            padding: 8px 3px 9px;
                        }
                    }
                    &:nth-child(3) {
                        border-top-right-radius: 6px;
                        overflow: hidden;
                        @include mediaquery(null, 991px) {
                            width: 20%;
                        }
                        @include mediaquery(null, 767px) {
                            border-top-right-radius: 3px;
                        }
                    }
                }
            }
            &:nth-child(2),
            &:nth-child(4) {
                td {
                    &:nth-child(1) {
                        width: 129px;
                        text-align: center;
                        font-size: 20px;
                        font-weight: 500;
                        color: #94693c;
                        background-color: #f9ede2;
                        @include mediaquery(992px, 1600px) {
                            width: 190px;
                        }
                        @include mediaquery(null, 991px) {
                            width: 180px;
                        }
                        @include mediaquery(null, 767px) {
                            font-size: 15px;
                        }
                        .img {
                            display: flex;
                            justify-content: center;
                        }
                    }
                    &:nth-child(2) {
                        padding: 13px 10px 14px 20px;
                        @include mediaquery(992px, 1440px) {
                            padding: 13px 10px 14px;
                        }
                        @include mediaquery(null, 991px) {
                            padding: 13px 10px 14px;
                        }
                        @include mediaquery(null, 767px) {
                            font-size: 15px;
                        }
                    }
                    &:nth-child(3),
                    &:nth-child(4) {
                        width: 31.66%;
                        padding: 13px 10px 14px 20px;
                        @include mediaquery(992px, 1440px) {
                            padding: 13px 10px 14px;
                            width: 25%;
                        }
                        @include mediaquery(null, 991px) {
                            width: 26%;
                            padding: 13px 0 14px;
                            text-align: center;
                        }
                        @include mediaquery(null, 767px) {
                            font-size: 15px;
                        }
                    }
                }
            }
            &:nth-child(2) {
                td {
                    &:nth-child(1) {
                        img {
                            display: block;
                            max-width: 49px;
                            @include mediaquery(null, 767px) {
                                max-width: 35px;
                                margin-bottom: 4px;
                            }
                        }
                    }
                }
            }
            &:nth-child(4) {
                td {
                    &:nth-child(1) {
                        border-bottom: none;
                        border-bottom-left-radius: 6px;
                        overflow: hidden;
                        @include mediaquery(null, 767px) {
                            border-bottom-left-radius: 3px;
                            i {
                                display: block;
                            }
                        }
                        img {
                            display: block;
                            max-width: 51px;
                            @include mediaquery(null, 767px) {
                                max-width: 37px;
                                margin-bottom: 4px;
                            }
                        }
                    }
                }
            }
            &:nth-child(3),
            &:nth-child(5) {
                td {
                    &:nth-child(1) {
                        padding: 13px 10px 14px 20px;
                        @include mediaquery(992px, 1440px) {
                            padding: 13px 10px 14px;
                        }
                        @include mediaquery(null, 991px) {
                            padding: 13px 8px 14px;
                        }
                        @include mediaquery(null, 767px) {
                            font-size: 15px;
                        }
                    }
                    &:nth-child(2) {
                        width: 63.32%;
                        padding: 13px 10px 14px 20px;
                        @include mediaquery(992px, 1440px) {
                            padding: 13px 10px 14px;
                        }
                        @include mediaquery(null, 991px) {
                            width: 52%;
                            padding: 13px 8px 14px;
                        }
                        @include mediaquery(null, 767px) {
                            font-size: 15px;
                        }
                    }
                }
            }
            &:nth-child(5) {
                td {
                    border-bottom: none;
                    &:nth-child(2) {
                        border-bottom-right-radius: 6px;
                        overflow: hidden;
                        @include mediaquery(null, 767px) {
                            border-bottom-right-radius: 3px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .txtBox {
        margin: 26px 0 75px;
        @include mediaquery(992px, null) {
            display: flex;
            align-items: start;
        }
        @include mediaquery(null, 991px) {
            margin: 37px 0 60px;
        }
        .leftBox {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fee7e6;
            font-size: 20px;
            @include mediaquery(992px, null) {
                padding: 40px 54px 40px 50px;
                border-radius: 32px;
                margin-right: 36px;
            }
            @include mediaquery(null, 991px) {
                border-radius: 24px;
                padding: 30px 10px 30px 13px;
                margin-bottom: 27px;
            }
            @include mediaquery(null, 767px) {
                font-size: 15px;
            }
            img {
                max-width: 32px;
                margin-right: 16px;
                @include mediaquery(null, 767px) {
                    max-width: 24px;
                    margin-right: 9px;
                }
            }
        }
        .rightBox {
            li {
                position: relative;
                color: #797979;
                padding-left: 1em;
                @include mediaquery(null, 767px) {
                    font-size: 15px;
                }
                &::before {
                    content: "·";
                    position: absolute;
                    left: 0;
                    font-size: 30px;
                    line-height: 22px;
                    @include mediaquery(null, 767px) {
                        line-height: 20px;
                    }
                }
                a {
                    position: relative;
                    display: inline-block;
                    color: #94693c;
                    transition: opacity 0.75s;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: #94693c;
                    }
                    &:hover {
                        @include mediaquery(768px, null) {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
    .backBtn {
        @include mediaquery(null, 767px) {
            margin-bottom: 170px;
        }
        a {
            @include mediaquery(null, 767px) {
                width: 100%;
                height: 72px;
                line-height: 72px;
                border-radius: 5px;
            }
            &:hover .line::before {
                @include mediaquery(768px, null) {
                    background-color: #94693c;
                }
            }
        }
        .line {
            position: relative;
            width: 32px;
            height: 30px;
            margin-left: 12px;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                mask: url("../images/page/line.svg") center/ contain no-repeat;
                transition: background-color 0.75s;
            }
        }
    }
}

//會員積點
.pointsPage {
    position: relative;
    margin-bottom: 150px;
    @include mediaquery(null, 767px) {
        margin-bottom: 170px;
    }
}

//產品保固
.warrantyPage {
    position: relative;
    .top-menu-ul-2 {
        margin-bottom: 66px;
        @include mediaquery(null, 767px) {
            margin-bottom: 36px;
        }
    }
    .topBox,
    .bottomBox {
        display: flex;
        @include mediaquery(null, 767px) {
            flex-direction: column;
        }
    }
    .bottomBox .leftBox {
        > div:last-child input {
            @include mediaquery(768px, null) {
                margin-bottom: 0;
            }
        }
        input,
        select {
            margin-bottom: 28px;
            @include mediaquery(null, 767px) {
                margin-bottom: 36px;
            }
        }
    }
    .leftBox {
        flex: 0 0 calc((100% - 64px) / 3);
        margin-right: 32px;
        @include mediaquery(768px, 1400px) {
            flex: 0 0 calc((100% - 32px) / 3);
            margin-right: 16px;
        }
        @include mediaquery(null, 767px) {
            flex: 0 0 auto;
            width: 100%;
        }
    }
    .rightBox {
        flex: 0 0 calc((100% - 64px) / 3 * 2 + 32px);
        @include mediaquery(768px, 1400px) {
            flex: 0 0 calc((100% - 32px) / 3 * 2 + 16px);
        }
        @include mediaquery(null, 767px) {
            flex: 0 0 auto;
            width: 100%;
        }
    }
    .m_title {
        font-size: 18px;
        margin-bottom: 13px;
        @include mediaquery(null, 767px) {
            font-size: 16px;
            margin-bottom: 8px;
        }
        span {
            display: inline-block;
            color: #d31e1b;
            font-weight: 500;
            transform: translateY(-5px);
            margin-right: 2px;
            font-size: 16px;
            @include mediaquery(null, 767px) {
                font-size: 14px;
            }
        }
        b {
            display: none;
            margin-left: 6px;
            font-size: 16px;
            color: #d31e1b;
            @include mediaquery(null, 767px) {
                font-size: 14px;
            }
        }
        a {
            display: inline-flex;
            align-items: center;
            margin-left: 9px;
            font-size: 14px;
            font-weight: 500;
            color: #6f6d6d;
            transition: opacity 0.75s;
            @include mediaquery(null, 767px) {
                font-size: 12px;
                margin-left: 7px;
            }
            &:hover {
                @include mediaquery(768px, null) {
                    opacity: 0.6;
                }
            }
            i {
                margin-left: 7px;
                width: 20px;
                height: 20px;
                background: url("../images/page/questionMark.png") center / contain no-repeat;
                @include mediaquery(null, 767px) {
                    margin-left: 5px;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
    .note{
        @include font-size(12px,13.6px);
        color:#C98B54;
        letter-spacing: 0;
        @include mediaquery($sm,null){            
            margin-top: 0.75em;
        }
        @include mediaquery(null,$sm){
            margin-top: 1em;
            margin-bottom: 4em;
        }
    }
    .file-upload{
        position: relative;
        display: flex;
        align-items: center;
        .controls {
            display: none;
        }
        .flex{
            display: flex;
            align-items: center;
        }
        .mpath{
            word-break: break-all;
            color:#a3a3a3;
            position: relative;
            margin-left: 1.2em;
            padding-right: 2.5em;
        }
    }
    .file-btn{
        display: inline-block;
        text-align: center;
        flex:0 0 128px;
        width: 128px;
        height: 48px;
        line-height: 48px;
        border-radius: 6px;
        color:white;
        background-color: #94693C;
        img{
            width: 1.5em;
            margin-left: 0.5em;
            vertical-align: -0.4em;
        }
        @include mediaquery(null,$sm){
            flex:0 0 105px;
            width: 105px;
            height: 32px;
            line-height: 32px;
            border-radius: 3px;
            font-size: 14px;
            img{
                width: 1em;
                margin-left: 4px;
                vertical-align: -2px;
            }
        }
    }
    .delbtn{
        width: 24px;
        height: 24px;
        display: none;
        position: absolute;
        right:0;
        top:50%;
        transform: translateY(-50%);
        @include border();
        background-color: #a3a3a3;
        i:before,i:after{
            transition: all .25s;
            content: "";
            position: absolute;
            left:6px;
            top:11px;
            height: 2px;   
            width: 12px;   
            background-color: #fff;
        }
        i:before{
            transform:rotate(45deg);                  
        }
        i:after{
            transform: rotate(-45deg);
        }
    }
    .req {
        .m_title {
            b {
                display: inline-block;
            }
        }
        input:not([type="radio"],[type="file"]),
        select {
            border: 1px solid #d31e1b;
        }
        &.form-order-block{
            a{
                margin-left: 0;
                vertical-align: -2px;
            }
            @include mediaquery(null,$xs){
                .m_title i{
                    font-size: 12px;
                }
                .m_title b{
                    display: none;
                }
            }
        }
    }
    input:not([type="radio"],[type="file"]),
    select {
        appearance: none;
        width: 100%;
        height: 48px;
        border-radius: 0;
        border: 1px solid #e4e4e4;
        margin-bottom: 24px;
        font-size: 16px;
        padding: 0 40px 0 18px;
        color: #000;
        font-family: $font;
        @include mediaquery(768px, 1200px) {
            padding-left: 12px;
        }
        @include mediaquery(null, 767px) {
            font-size: 15px;
            padding: 0 30px 0 9px;
            height: 41px;
            margin-bottom: 36px;
        }
        &::placeholder {
            font-size: 16px;
            color: #a3a3a3;
            @include mediaquery(null, 767px) {
                font-size: 15px;
            }
        }
    }
    input[type="text"] {
        padding-right: 18px;
        @include mediaquery(768px, 1200px) {
            padding-right: 12px;
        }
        @include mediaquery(null, 767px) {
            padding-right: 9px;
        }
    }
    select {
        color: #a3a3a3;
        background: #fff url("../images/common/form_arrow.png") center right 15px / 21px 8px no-repeat;
        @include mediaquery(null, 767px) {
            background: #fff url("../images/common/form_arrow.png") center right 15px / 15px 6px no-repeat;
        }
    }
    textarea {
        resize: none;
        width: 100%;
        height: calc(100% - 39px);
        border-radius: 0;
        border: 1px solid #e4e4e4;
        padding: 10px 18px;
        font-size: 16px;
        color: #000;
        font-family: $font;
        @include mediaquery(768px, 1200px) {
            padding-left: 12px;
        }
        @include mediaquery(null, 767px) {
            font-size: 15px;
            height: 424px;
            padding: 6px 9px;
        }
        &::placeholder {
            font-size: 16px;
            font-family: $font;
            color: #a3a3a3;
            @include mediaquery(null, 767px) {
                font-size: 15px;
            }
        }
        &::-webkit-scrollbar {
            width: 4px;
            @include mediaquery(null, 991px) {
                width: 2px;
            }
        }
        &::-webkit-scrollbar-button {
            background: transparent;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-track-piece {
            background: #f8f8f8;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: #94693c;
        }
        &::-webkit-scrollbar-track {
            box-shadow: transparent;
        }
    }
    .radio {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        li {
            position: relative;
            margin-bottom: 6px;
            @include mediaquery(null, 767px) {
                margin-bottom: 15px;
            }
            input {
                position: absolute;
                opacity: 0;
                &:checked + label::after {
                    opacity: 1;
                }
            }
            label {
                position: relative;
                cursor: pointer;
                padding: 0 24px 0 32px;
                @include mediaquery(null, 767px) {
                    padding: 0 24px 0 28px;
                    font-size: 15px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: #e4e4e4;
                    @include mediaquery(null, 767px) {
                        width: 18px;
                        height: 18px;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 4px;
                    transform: translateY(-50%);
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: #94693c;
                    opacity: 0;
                    transition: opacity 0.75s;
                    @include mediaquery(null, 767px) {
                        width: 12px;
                        height: 12px;
                        left: 3px;
                    }
                }
            }
        }
    }
    input[type="date"] {
        position: relative;
        color: #a3a3a3;
        &::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0px;
            background: #fff url("../images/common/form_arrow.png") center right 15px / 21px 8px no-repeat;
            width: calc(100% - 150px);
        }
    }
    .box > div:nth-child(1) .inputDel a {
        display: none;
    }
    .flex {
        display: flex;
        @include mediaquery(null, 767px) {
            flex-direction: column;
        }
        .select_1 {
            @include mediaquery(null, 767px) {
                margin-bottom: 12px;
            }
        }
        .chosen-container {
            flex: 0 0 calc((100% - 32px) / 2);
            margin-right: 32px;
            height: 48px;
            @include mediaquery(768px, 1400px) {
                flex: 0 0 calc((100% - 16px) / 2);
                margin-right: 16px;
            }
            @include mediaquery(null, 767px) {
                flex: 0 0 auto;
                width: 100%;
                max-width: 100%;
                margin: 0 0 12px;
                height: 41px;
            }
        }
        .chosen-single {
            appearance: none;
            width: 100%;
            height: 48px;
            line-height: 48px;
            border-radius: 0;
            border: 1px solid #e4e4e4;
            font-size: 16px;
            padding: 0 40px 0 18px;
            color: #a3a3a3;
            font-family: $font;
            background: #fff url("../images/common/form_arrow.png") center right 15px / 21px 8px no-repeat;
            box-shadow: none;
            @include mediaquery(768px, 1200px) {
                padding-left: 12px;
            }
            @include mediaquery(null, 767px) {
                font-size: 15px;
                padding: 0 30px 0 9px;
                height: 41px;
                line-height: 41px;
                background: #fff url("../images/common/form_arrow.png") center right 15px / 15px 6px no-repeat;
            }
            > span {
                margin-right: 0;
            }
        }
        .chosen-results {
            font-size: 16px;
            @include mediaquery(null, 767px) {
                font-size: 15px;
            }
            li {
                padding: 8px;
            }
        }
        .chosen-container-single .chosen-search input[type="text"] {
            font-size: 16px;
            padding: 8px;
            background: url("../images/common/search_icon.png") center right 10px / 20px 20px no-repeat;
            @include mediaquery(null, 767px) {
                font-size: 15px;
            }
        }
        .inputDel {
            display: flex;
            align-items: center;
            flex: 0 0 calc((100% - 32px) / 2);
            @include mediaquery(768px, 1400px) {
                flex: 0 0 calc((100% - 16px) / 2);
            }
            @include mediaquery(null, 767px) {
                flex: 0 0 auto;
                width: 100%;
            }
            a {
                width: 32px;
                height: 48px;
                background-color: #94693c;
                margin: 0 0 24px;
                mask: url("../images/page/del.svg") center right / 18px 18px no-repeat;
                transition: opacity 0.75s;
                @include mediaquery(null, 767px) {
                    margin: 0 0 12px;
                    height: 32px;
                    width: 32px;
                    mask: url("../images/page/del.svg") center right / 16px 16px no-repeat;
                }
                &:hover {
                    @include mediaquery(768px, null) {
                        opacity: 0.6;
                    }
                }
            }
            input {
                @include mediaquery(null, 767px) {
                    margin: 0 0 12px;
                }
            }
        }
    }
    .addProduct {
        display: inline-flex;
        align-items: center;
        margin-bottom: 69px;
        transition: opacity 0.75s;
        @include mediaquery(null, 767px) {
            font-size: 15px;
            margin: 8px 0 35px;
        }
        &:hover span::after {
            @include mediaquery(768px, null) {
                opacity: 1;
            }
        }
        span {
            position: relative;
            width: 32px;
            height: 32px;
            margin-right: 11px;
            @include mediaquery(null, 767px) {
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("../images/page/add.jpg") center / contain no-repeat;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("../images/page/addH.jpg") center / contain no-repeat;
                opacity: 0;
                transition: opacity 0.75s;
            }
        }
    }
    .backBtn {
        margin: 90px 0 150px;
        @include mediaquery(null, 767px) {
            margin: 57px 0 166px;
        }
    }
}
.modal-open-product {
    .modalBgProduct {
        overflow: auto;
    }
    .popupProduct {
        padding: 0 0 10%;
        max-width: 1056px;
        max-height: fit-content;
        top: 15%;
        transform: translateX(-50%);
        background: none;
        @include mediaquery(null, 991px) {
            transform: none;
        }
        .modal-content {
            background: #fff;
            padding: 40px 44px;
            @include mediaquery(null, 767px) {
                padding: 10px 14px;
            }
        }
        .popupTitleWarranty {
            font-size: 22px;
            font-weight: 500;
            color: #94693c;
            margin-bottom: 15px;
            @include mediaquery(null, 767px) {
                font-size: 15px;
            }
            span {
                display: inline-block;
                margin-left: 30px;
                font-size: 16px;
                font-weight: 400;
                color: #a3a3a3;
                @include mediaquery(null, 767px) {
                    display: block;
                    font-size: 12px;
                    margin-left: 0;
                }
            }
        }
    }
}
